@use 'variables'
@use 'mixins'

*
    font-family: 'Josefin Sans'
    padding: 0
    margin: 0
    box-sizing: border-box
   
@font-face 
    font-family: Comication
    src: url("./Comication.woff")    

body
    //background-color: variables.$bg-color
    color: variables.$text-color
    background: variables.$text-color url("https://github.com/krokreti/vueApps/blob/main/7_restaurant/src/assets/cake.jpg?raw=true") no-repeat 
    background-position: 0 -150px
    background-size: cover
    background-attachment: fixed
    @include mixins.mobile
        //background: variables.$text-color url("https://github.com/krokreti/vueApps/blob/main/7_restaurant/src/assets/cake.jpg?raw=true") center center no-repeat
        background: variables.$text-color url("https://github.com/krokreti/vueApps/blob/main/7_restaurant/src/assets/cake.jpg?raw=true") center center no-repeat
        background-attachment: fixed
        background-position: 70% 50%
        //background-size: 400px 400px
    @include mixins.tablet
        background: variables.$text-color url("https://github.com/krokreti/vueApps/blob/main/7_restaurant/src/assets/cake.jpg?raw=true") center center no-repeat
        background-attachment: fixed
        background-position: 70% 50%
        
    a
        color: variables.$primary-color  
        text-decoration: none
        transition: .4s
    
    ul
        list-style: none

    .cabecalho
        display: flex
        justify-content: space-between
        @include mixins.container
        background: variables.$text-color
        width: auto
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3)
        @include mixins.mobile
            display: block

        &-logo
            color: variables.$primary-color
            font-size: 4rem
            padding-left: 10%
            font-family: Comication
            @include mixins.mobile
                text-align: center
                padding: 0
            

        &-navbar
            padding: 20px
            font-weight: bold
            color: variables.$primary-color

            ul
                height: 100%
                @include mixins.flex-center
            
            li
                margin: 0 1rem
                text-transform: uppercase
                font-size: .8rem
                
                .active
                    color: variables.$secondary-color
                
                a
                    &:hover
                        color: variables.$secondary-color
    
    .footer-social-media
        text-align: center
        padding-top: 1rem
        padding-bottom: 2rem
        background: variables.$text-color
        
        bottom: 0
        left: 0
        position: fixed
        width: 100%

        span
            font-weight: bold
            color: variables.$primary-color


        ul
            @include mixins.flex-center
            height: 100%
        
        li
            margin: 0 1rem

            a
                &:hover
                    color: variables.$secondary-color

    .banner
        height: 100%
        width: 40%
        @include mixins.mobile
            width: 100%
            
            //background: rgba(241, 212, 175, 0.1)
        @include mixins.tablet
            width: 100%

        &-texto
            font-size: 2.5em
            color: variables.$primary-color
            padding: 5rem
            font-weight: bold
            //width: 40%
            @include mixins.mobile
                color: variables.$text-color
                text-align: center
                padding: 0
                margin: 0.2em
                margin-top: 50%
            @include mixins.tablet
                color: variables.$text-color
                padding: 0
                margin: 0 auto
                margin-top: 30%
                text-align: center

            &-button
                font-weight: 300
                font-size: 15px
                display: flex
                justify-content: center
                width: 20rem
                padding-top: 10px
                @include mixins.mobile
                    display: block
                    padding: 0.8em          
                    width: 100%
                @include mixins.tablet
                    width: 100%
                    
                .botao-1
                    padding: 8px
                    color: white
                    background: variables.$primary-color
                    filter: drop-shadow(0 0 2px #000)
                    @include mixins.mobile
                        display: block                      
                        border: none
                        padding: 0.5em 0
                        font-size: 1.4em
                        cursor: pointer
                        text-align: center
                    @include mixins.tablet
                        cursor: pointer
                        font-size: 2em
                        margin-top: 0.5em
                        border-radius: 5px
                        padding: 0.5em 2em

    .menu-geral
        margin: 10px auto
        border: 1px solid black
        border-radius: 20px
        padding: 20px
        height: fit-content
        width: fit-content
        margin-bottom: 10em
        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07)
        @include mixins.mobile
            margin: 0
            width: 100%
            margin-bottom: 6.2em


    .refeicao
        border: 2px solid variables.$primary-color
        //border-image: linear-gradient(227.91deg, #106AF2 0%, #00E0FF 100%) 1
        width: 35rem
        margin: auto
        padding: 10px
        border-radius: 10px
        display: flex
        background: white
        transition: .5s
        filter: drop-shadow(0 0 3px #000)
        margin-bottom: 10px
        @include mixins.mobile
            width: 100%
        
        &:hover
            background: variables.$text-color
            color: black
            
        .imagem
            width: 150px
            height: 100px
            //border: 2px solid variables.$primary-color
            //border-radius: 10px
            background-image: url('https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665_960_720.jpg')
            background-size: 100%
            background-position: center
            background-repeat: no-repeat
            transition: .5s
                 
        .conteudo
            margin-left: 10px
            width: 100%
            color: variables.$bg-color
            
            .titulo-conteudo
                display: flex
                width: 100%
                padding: 0.5em
                justify-content: space-between
                @include mixins.mobile
                    display: block

                .preco-conteudo
                    text-transform: uppercase
                    padding: 5px
                    width: fit-content
                    color: green
                @include mixins.mobile
                    padding: 0
            
            .descricao-conteudo
                padding: 5px
                color: grey
                @include mixins.mobile
                    color: variables.$primary-color
            
            .btn-pedir
                border: 1px solid variables.$primary-color
                border-radius: 10px
                width: fit-content
                padding: 10px
                margin: auto
                background: variables.$secondary-color
                color: white
                transition: .5s
                
                &:hover
                    transform: scale(1.2)
                    cursor: pointer
    
    .item-detalhado
        width: 100%        
        //border: 1px solid red
        .btn-voltar
            display: inline
            float: left
            background-color: variables.$text-color
            color: black
            border-radius: 50%
            padding: 13px 20px
            transition: .5s
            margin: 2em
            cursor: pointer
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
            &:hover
                color: variables.$banner-color
                background: variables.$primary-color

        .btn-favorito
            display: inline
            float: right
            margin: 2em
            background-color: variables.$text-color
            color: black
            border-radius: 50%
            padding: 13px 18px
            transition: .5s
            margin: 2em
            cursor: pointer
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
            &:hover
                color: variables.$banner-color
                background: variables.$primary-color
            

        
    
        
                
            

        
    

