@use 'variables'
@use 'mixins'
@use 'buttons'

*
    font-family: 'Josefin Sans'
    padding: 0
    margin: 0
    box-sizing: border-box
   
@font-face 
    font-family: Comication
    src: url("./Comication.woff")    

body
    //background-color: variables.$bg-color
    color: variables.$text-color
    background: variables.$text-color url('./cake.jpg') no-repeat 
    background-position: 0 -150px
    background-size: cover
    background-attachment: fixed
    @include mixins.mobile
        //background: variables.$text-color url("https://github.com/krokreti/vueApps/blob/main/7_restaurant/src/assets/cake.jpg?raw=true") center center no-repeat
        background: variables.$text-color url('./cake.jpg') center center no-repeat
        background-attachment: fixed
        background-position: 70% 50%
        //background-size: 400px 400px
    @include mixins.tablet
        background: variables.$text-color url('./cake.jpg') center center no-repeat
        background-attachment: fixed
        background-position: 70% 50%
        
    a
        color: variables.$primary-color  
        text-decoration: none
        transition: .4s
    
    ul
        list-style: none

    .cabecalho
        display: flex
        justify-content: space-between
        @include mixins.container
        background: variables.$text-color
        width: auto
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3)
        @include mixins.mobile
            display: block

        &-logo
            color: variables.$primary-color
            font-size: 4rem
            padding-left: 10%
            font-family: Comication
            @include mixins.mobile
                text-align: center
                padding: 0
            

        &-navbar
            padding: 20px
            font-weight: bold
            color: variables.$primary-color

            ul
                height: 100%
                @include mixins.flex-center
            
            li
                margin: 0 1rem
                text-transform: uppercase
                font-size: .8rem
                
                .active
                    color: variables.$secondary-color
                
                a
                    &:hover
                        color: variables.$secondary-color
    
    .footer-social-media
        text-align: center
        padding-top: 1rem
        padding-bottom: 2rem
        background: variables.$text-color
        bottom: 0
        left: 0
        position: fixed
        width: 100%

        span
            font-weight: bold
            color: variables.$primary-color


        ul
            @include mixins.flex-center
            height: 100%
        
        li
            margin: 0 1rem

            a
                &:hover
                    color: variables.$secondary-color

    .banner
        height: 100%
        width: 40%
        @include mixins.mobile
            width: 100%
            
            //background: rgba(241, 212, 175, 0.1)
        @include mixins.tablet
            width: 100%

        &-texto
            font-size: 2.5em
            color: variables.$primary-color
            text-align: center
            padding: 5rem
            font-weight: bold
            //width: 40%
            @include mixins.mobile
                color: variables.$text-color
                text-align: center
                padding: 0
                margin: 0.2em
                margin-top: 50%
            @include mixins.tablet
                color: variables.$text-color
                padding: 0
                margin: 0 auto
                margin-top: 30%
                text-align: center

            &-button
                font-weight: 300
                font-size: 15px
                display: flex
                justify-content: center
                width: 100%   
                   
                @include mixins.mobile
                    display: block
                    padding: 0.8em          
                    width: 100%
                @include mixins.tablet
                    width: 100%
                    
                .botao-1
                    margin-top: 0.5em
                    padding: 0.4em 2em
                    color: white
                    font-size: 1.5em
                    background: variables.$primary-color
                    filter: drop-shadow(0 0 2px #000)
                    transition: .5s
                    &:hover
                        background: variables.$text-color
                        color: variables.$primary-color
                    @include mixins.mobile
                        display: block                      
                        border: none
                        padding: 0.5em 0
                        font-size: 1.4em
                        cursor: pointer
                        text-align: center
                    @include mixins.tablet
                        cursor: pointer
                        font-size: 2em
                        margin-top: 0.5em
                        border-radius: 5px
                        padding: 0.5em 2em

    .menu-geral
        margin: 10px auto
        border: 1px solid black
        border-radius: 20px
        padding: 20px
        height: fit-content
        width: fit-content
        margin-bottom: 10em
        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07)
        cursor: pointer
        @include mixins.mobile
            margin: 0
            width: 100%
            margin-bottom: 6.2em


    .refeicao
        border: 2px solid variables.$primary-color
        //border-image: linear-gradient(227.91deg, #106AF2 0%, #00E0FF 100%) 1
        width: 35rem
        margin: auto
        padding: 10px
        border-radius: 10px
        display: flex
        background: white
        transition: .5s
        filter: drop-shadow(0 0 3px #000)
        margin-bottom: 10px
        @include mixins.mobile
            width: 100%
        
        &:hover
            background: variables.$secondary-color
            color: white
            
        .imagem
            width: 150px
            height: 100px
            //border: 2px solid variables.$primary-color
            //border-radius: 10px
            background-image: url('https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665_960_720.jpg')
            background-size: 100%
            background-position: center
            background-repeat: no-repeat
            transition: .5s
                 
        .conteudo
            margin-left: 10px
            width: 100%
            color: variables.$bg-color

            .titulo-conteudo
                display: flex
                width: 100%
                padding: 0.5em
                justify-content: space-between
                text-shadow: 1px 1px 1px grey
                @include mixins.mobile
                    display: block

                .preco-conteudo
                    text-transform: uppercase
                    padding: 5px
                    width: fit-content
                    color: green
                @include mixins.mobile
                    padding: 0
            
            .descricao-conteudo
                padding: 5px
                color: grey
                @include mixins.mobile
                    color: variables.$primary-color

            .btn-pedir
                border: 1px solid variables.$primary-color
                border-radius: 10px
                width: fit-content
                padding: 10px
                margin: auto
                background: variables.$secondary-color
                color: white
                transition: .5s
                
                &:hover
                    transform: scale(1.2)
                    cursor: pointer
    
    .item-detalhado
        width: 100%        
        //border: 1px solid red
        .container-btn
            overflow: auto
            .voltar
                display: inline
                float: left
                background-color: variables.$text-color
                color: black
                border-radius: 50%
                padding: 13px 20px
                transition: .5s
                margin: 2em
                cursor: pointer
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
                &:hover
                    color: variables.$banner-color
                    background: variables.$primary-color

            .favorito
                display: inline
                float: right
                margin: 2em
                background-color: variables.$text-color
                color: black
                border-radius: 50%
                padding: 13px 18px
                transition: .5s
                margin: 2em
                cursor: pointer
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
                &:hover
                    color: variables.$banner-color
                    background: variables.$primary-color
        
        .box
            border-radius: 50px 50px
            background: rgb(255,255,255)
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,212,175,1) 100%)
            height: 40rem
            width: 70%
            // margin-top: 4em
            margin: 4em auto
            //position: fixed
            bottom: 0
            @include mixins.mobile
                width: 100%
            @include mixins.tablet
                width: 100%

            &-item-detalhado-imagem
                border-width: 4px
                border-style: solid
                border-image: linear-gradient(to bottom, variables.$primary-color, variables.$text-color) 1
                -webkit-box-shadow: 18px 18px 23px 14px rgba(0,0,0,0.27)
                box-shadow: 18px 18px 23px 14px rgba(0,0,0,0.27)
                width: 10em
                height: 10em
                margin: 0 auto
                position: relative
                bottom: 5em
            
            &-item-detalhado-sobre
                margin: 0
                &-titulo
                    color: variables.$primary-color
                    text-align: center
                    // font-weight: 900
                    font-family: sans-serif
                    font-size: 2.5em
                    position: relative
                    bottom: 1.5em
                &-informacoes                    
                    font-family: Verdana, Geneva, Tahoma, sans-serif                    
                    display: flex
                    justify-content: center
                    flex-wrap: wrap
                    color: black
                    span
                        padding: 0 5%
                &-quantidade
                    display: flex
                    justify-content: center
                    margin-top: 1.5em
                    &-preco
                        display: flex
                        align-items: center
                        background: variables.$secondary-color
                        color: variables.$text-color
                        border-radius: 10px
                        span
                            padding: 0 5px
            
            &-adicionar-carrinho
                margin: 1.5em 0
                text-align: center
                span
                    color: black
                    padding: 1em
                    // background: rgb(96, 255, 5)
                    font-family: sans-serif
                    background: linear-gradient(to bottom, #aafa8b 0%, #0f6b05 100%)
                    cursor: pointer


    .seletor-component
        display: flex
        align-items: center
        color: variables.$text-color
        background: variables.$primary-color
        border-radius: 10px
        &-button-quantidade
            border-radius: 10px
            padding: 0.3em 0.5em !important
            font-size: 30px
            cursor: pointer
        &-quantidade
            background: variables.$secondary-color
            border-radius: 10px
            margin: 0 0.5em
            padding: 0.8em !important
            color: black
                        
                        
                        
            

        
    
        
                
            

        
    

