.btn {
    padding: 0.8em 2em;
    border-radius: 3em;
    border: none;
    transition: .5s;
    font-weight: bold;
}

.btn:hover {
    background-color: grey;
    color: white;
}

.active {
    color: white;
    background-color: black;
}

.text-secondary {
    color: #bc46f9;
}

.font-bold {
    font-weight: bold;
}