* {
  font-family: "Josefin Sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Comication;
  src: url("./Comication.woff");
}
body {
  color: #ECE5CE;
  background: #ECE5CE url("./cake.jpg") no-repeat;
  background-position: 0 -150px;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 600px) {
  body {
    background: #ECE5CE url("./cake.jpg") center center no-repeat;
    background-attachment: fixed;
    background-position: 70% 50%;
  }
}
@media (max-width: 768px) {
  body {
    background: #ECE5CE url("./cake.jpg") center center no-repeat;
    background-attachment: fixed;
    background-position: 70% 50%;
  }
}
body a {
  color: #774F38;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}
body .cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 auto;
  background: #ECE5CE;
  width: auto;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 600px) {
  body .cabecalho {
    display: block;
  }
}
body .cabecalho-logo {
  color: #774F38;
  font-size: 4rem;
  padding-left: 10%;
  font-family: Comication;
}
@media (max-width: 600px) {
  body .cabecalho-logo {
    text-align: center;
    padding: 0;
  }
}
body .cabecalho-navbar {
  padding: 20px;
  font-weight: bold;
  color: #774F38;
}
body .cabecalho-navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .cabecalho-navbar li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
body .cabecalho-navbar li .active {
  color: #E08E79;
}
body .cabecalho-navbar li a:hover {
  color: #E08E79;
}
body .footer-social-media {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: #ECE5CE;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
body .footer-social-media span {
  font-weight: bold;
  color: #774F38;
}
body .footer-social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body .footer-social-media li {
  margin: 0 1rem;
}
body .footer-social-media li a:hover {
  color: #E08E79;
}
body .banner {
  height: 100%;
  width: 40%;
}
@media (max-width: 600px) {
  body .banner {
    width: 100%;
  }
}
@media (max-width: 768px) {
  body .banner {
    width: 100%;
  }
}
body .banner-texto {
  font-size: 2.5em;
  color: #774F38;
  padding: 5rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  body .banner-texto {
    color: #ECE5CE;
    text-align: center;
    padding: 0;
    margin: 0.2em;
    margin-top: 50%;
  }
}
@media (max-width: 768px) {
  body .banner-texto {
    color: #ECE5CE;
    padding: 0;
    margin: 0 auto;
    margin-top: 30%;
    text-align: center;
  }
}
body .banner-texto-button {
  font-weight: 300;
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 20rem;
  padding-top: 10px;
}
@media (max-width: 600px) {
  body .banner-texto-button {
    display: block;
    padding: 0.8em;
    width: 100%;
  }
}
@media (max-width: 768px) {
  body .banner-texto-button {
    width: 100%;
  }
}
body .banner-texto-button .botao-1 {
  padding: 8px;
  color: white;
  background: #774F38;
  filter: drop-shadow(0 0 2px #000);
  transition: 0.5s;
}
body .banner-texto-button .botao-1:hover {
  background: #ECE5CE;
  color: #774F38;
}
@media (max-width: 600px) {
  body .banner-texto-button .botao-1 {
    display: block;
    border: none;
    padding: 0.5em 0;
    font-size: 1.4em;
    cursor: pointer;
    text-align: center;
  }
}
@media (max-width: 768px) {
  body .banner-texto-button .botao-1 {
    cursor: pointer;
    font-size: 2em;
    margin-top: 0.5em;
    border-radius: 5px;
    padding: 0.5em 2em;
  }
}
body .menu-geral {
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  height: fit-content;
  width: fit-content;
  margin-bottom: 10em;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
@media (max-width: 600px) {
  body .menu-geral {
    margin: 0;
    width: 100%;
    margin-bottom: 6.2em;
  }
}
body .refeicao {
  border: 2px solid #774F38;
  width: 35rem;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  background: white;
  transition: 0.5s;
  filter: drop-shadow(0 0 3px #000);
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  body .refeicao {
    width: 100%;
  }
}
body .refeicao:hover {
  background: #E08E79;
  color: white;
}
body .refeicao .imagem {
  width: 150px;
  height: 100px;
  background-image: url("https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665_960_720.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
body .refeicao .conteudo {
  margin-left: 10px;
  width: 100%;
  color: #774F38;
}
body .refeicao .conteudo .titulo-conteudo {
  display: flex;
  width: 100%;
  padding: 0.5em;
  justify-content: space-between;
  text-shadow: 1px 1px 1px grey;
}
@media (max-width: 600px) {
  body .refeicao .conteudo .titulo-conteudo {
    display: block;
  }
}
body .refeicao .conteudo .titulo-conteudo .preco-conteudo {
  text-transform: uppercase;
  padding: 5px;
  width: fit-content;
  color: green;
}
@media (max-width: 600px) {
  body .refeicao .conteudo .titulo-conteudo {
    padding: 0;
  }
}
body .refeicao .conteudo .descricao-conteudo {
  padding: 5px;
  color: grey;
}
@media (max-width: 600px) {
  body .refeicao .conteudo .descricao-conteudo {
    color: #774F38;
  }
}
body .refeicao .conteudo .btn-pedir {
  border: 1px solid #774F38;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  margin: auto;
  background: #E08E79;
  color: white;
  transition: 0.5s;
}
body .refeicao .conteudo .btn-pedir:hover {
  transform: scale(1.2);
  cursor: pointer;
}
body .item-detalhado {
  width: 100%;
}
body .item-detalhado .btn-voltar {
  display: inline;
  float: left;
  background-color: #ECE5CE;
  color: black;
  border-radius: 50%;
  padding: 13px 20px;
  transition: 0.5s;
  margin: 2em;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
body .item-detalhado .btn-voltar:hover {
  color: #F1D4AF;
  background: #774F38;
}
body .item-detalhado .btn-favorito {
  display: inline;
  float: right;
  margin: 2em;
  background-color: #ECE5CE;
  color: black;
  border-radius: 50%;
  padding: 13px 18px;
  transition: 0.5s;
  margin: 2em;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
body .item-detalhado .btn-favorito:hover {
  color: #F1D4AF;
  background: #774F38;
}
body .item-detalhado .box {
  border-radius: 50px 50px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(241, 212, 175) 100%);
  height: 70%;
  width: 100%;
  margin-top: 5em;
  position: fixed;
  bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
